<a href="/">Home</a>
<h1>Robot Profiles</h1>
<div id="robots">
  <% robots.each do |robot| %>
    </br>
    <div id="robot-block">
    <img src="https://robohash.org/<%= robot.name %>.png">
    <h2>Name:  <%= robot.name %></h2>
    <h3>City:  <%= robot.city %></h2>
    <h3>State:  <%= robot.state %></h2>
    <h3>Birthday:  <%= robot.birthday %></h2>
    <h3>Date Hired:  <%= robot.date_hired %></h2>
    <h3>Department:  <%= robot.department %></h2>
    <a href="/robots/<%= robot.id %>">Profile Page</a></br>
    <a href="/robots/<%= robot.id %>/edit">Edit</a>
    <form action="/robots/<%= robot.id %>" method="post">
      <input type="hidden" name="_method" value="delete">
      <input type="submit" value="Delete">
    </form>
    </div>
  <% end %>
</div>
